<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleChef.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED64369B1DB03C5000D587F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED6436AF1DB03C5000D587F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED6436BA1DB03C5000D587F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
